*{
  font-family: 'Roboto', sans-serif;
  background-color: #111729;
  padding: 0;
}

.logo-name{
  color: #3865E6; 
  font-size: 54px;
}

.logo-content{
  display: flex;
  justify-content: center;
}

.logo-content img {
  margin-right: 2px;
  width: 62px;
}

.input-section{
  max-width: 100%;
  width: 400px;
  position: relative;
}

input{
  width: 100%;
  border: solid 3px #3865E6;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-right: 6px;
  color: #FAF9F6;
  &::-webkit-input-placeholder {
    color: #FAF9F6;
  }

}

.create-qr{
  color: #faf9f6;
  background-color:#3865E6;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.create-qr:hover{
  background-color: rgb(66, 109, 196);
}